*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  font-family:Arial, sans-serif;
  background:#08090d;
  color:white;
}

.layout{
  display:flex;
  min-height:100vh;
}


aside{
  width:250px;
  background:#11131a;
  padding:25px;
}


.content{
  flex:1;
}


.topbar{
  height:70px;
  background:#11131a;
  padding:20px;
}


main{
  padding:30px;
}


.card{
  background:#151820;
  border:1px solid #252936;
  border-radius:15px;
  padding:25px;
  margin-bottom:20px;
}


.grid{
  display:grid;
  grid-template-columns:repeat(4,1fr);
  gap:20px;
}


button{
  cursor:pointer;
}
