:root {
  --bg: #08090d;
  --text: #ffffff;
  --card: #151820;
  --sidebar: #111318;
  --border: #252936;
  --accent: #22c55e;
}

.light-mode {
  --bg: #ffffff;
  --text: #111827;
  --card: #f3f4f6;
  --sidebar: #ffffff;
  --border: #e5e7eb;
  --accent: #2563eb;
}


*{
  box-sizing:border-box;
}


body{
  margin:0;
  background:var(--bg);
  color:var(--text);
  font-family:Inter,Arial,sans-serif;
  transition:0.3s ease;
}


.app{
  display:flex;
  min-height:100vh;
}


/* Sidebar */

aside{
  width:240px;
  background:var(--sidebar);
  padding:25px;
  border-right:1px solid var(--border);
}


aside h2{
  margin-bottom:25px;
}


aside p{
  color:#94a3b8;
  cursor:pointer;
}



/* Main */

main{
  flex:1;
  padding:40px;
}


h1{
  font-size:32px;
}



/* Cards */

.card{
  background:var(--card);
  border:1px solid var(--border);
  border-radius:16px;
  padding:25px;
  margin-top:20px;
}


.grid{
  display:grid;
  grid-template-columns:repeat(4,1fr);
  gap:20px;
}


.big h2{
  color:var(--accent);
  font-size:42px;
}



/* Theme Button */

.theme-btn{

  position:fixed;
  top:20px;
  right:25px;

  background:var(--card);
  color:var(--text);

  border:1px solid var(--border);

  padding:10px 15px;

  border-radius:50px;

  cursor:pointer;

  font-size:18px;

  z-index:999;

}


@media(max-width:900px){

.grid{
grid-template-columns:1fr;
}

aside{
display:none;
}

}
